@media only screen and (min-width:600px){
    .titulo{
        text-align: center;
        border: ;
        border: black 2px solid;
        padding: 1%;
        margin: 1%;
        margin-left: 30%;
        margin-right: 30%;
    }
    .nav{
        text-align: center;
       
        padding: 1%;
        margin-left: 45%;  
        margin-right: 45%;

    }
    footer{
        
        text-align: center;
    }
    .registro{
        text-align: center;
    }
    .formulario input {
        margin-bottom: 1%;
    }
}